* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


#Header,
#Footer {
    background-color: #1f2937;
}

#Text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#Links {
    margin-top: 24px;
    margin-bottom: 24px;
}

#Subtext,
.Link {
    font-size: 18px;
    color: #e5e7eb;
}

#Logo {
    font-size: 24px;
    color: #f9faf8;
}

button,
#CallAct { 
    background-color: #3882f6;
    border: none;
}

button {
    border-radius: 15px;
    color: #f9faf8;
}

#InfoHead {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
}

#RandQuote {
    background-color: #e5e7eb;
}

#Quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

/* Non Specific */

a {
    text-decoration: none;
}

/* Layout Specific */
body {
    margin: 0px;
}

#Parent {
    margin: 0px;
    width: 100%;
}

#topBlue {
    background-color: #1f2937;
    width: 100vw;
}

#Header {
    width: 90vw;
    margin: 0px auto;
}

#Menu {
    display: flex;
    justify-content: space-between;
}
